html,
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #fff;
}
html *,
body * {
  color: #333;
}
.wrap {
  width: 960px;
  margin: 0 auto;
}
.header {
  float: left;
  width: 100%;
}
.header .top {
  float: left;
  width: 100%;
  background: #000;
  padding: 3px 0;
  font-size: 13px;
}
.header .top .login {
  color: #fff;
  text-decoration: none;
  float: right;
  margin-left: 30px;
}
.header .top .login:hover {
  color: #66aa33;
}
.header .logo {
  float: left;
  background: url("../images/logo.png") top left no-repeat;
  width: 80px;
  height: 98px;
  margin: 0 0 5px 0;
  text-indent: -99999px;
}
.header .menu {
  float: right;
  display: block;
  margin: 30px 0 0 0;
  list-style: none;
  padding: 0;
  font-size: 16px;
}
.header .menu li {
  float: left;
}
.header .menu li a {
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.header .menu li a.active,
.header .menu li a:hover {
  border-bottom: 2px solid #66aa33;
  color: #66aa33;
}
.header .menu li span {
  color: #66aa33;
  font-weight: 700;
}
.header .menu li:last-child a {
  margin: 10px 0 10px 10px;
}
.header .social {
  display: block;
  list-style: none;
  float: right;
  clear: left;
  padding: 0;
  margin: 0;
}
.header .social li {
  float: left;
}
.header .social li a {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.header .social li .vk {
  background: #fff url("../images/icon-vk.png") top left no-repeat;
}
.header .social li .fb {
  background: #fff url("../images/icon-facebook.png") top left no-repeat;
}
.header .social li .ig {
  background: #fff url("../images/icon-instagram.png") top left no-repeat;
}
.header .social li .vi {
  background: #fff url("../images/icon-vimeo.jpg") top left no-repeat;
}
.user-part {
  width: 460px;
  float: left;
}
.up1 {
  margin: 0 20px 0 0;
}
.up2 {
  margin: 0 0 0 20px;
}
.insta-item {
  float: left;
  width: 100%;
  margin: 10px 0;
  padding: 0px;
  text-decoration: none;
  background: #fff;
}
.insta-item .block {
  padding: 5px 10px;
}
.insta-item img {
  display: block;
  width: 100%;
}
.insta-item .likes {
  margin: 4px 0 0 0;
  padding-left: 20px;
  font-weight: 700;
  background: url("../images/like.png") center left no-repeat;
}
.insta-item .comments {
  margin: 5px 0;
}
.footer {
  width: 100%;
  float: left;
}
.part {
  width: 50%;
  float: left;
}
.p1 .news-item {
  margin-right: 20px;
}
.p2 .news-item {
  margin-left: 20px;
}
.news-item {
  position: relative;
  display: block;
  float: left;
  width: 460px;
  margin-bottom: 40px;
  background: #fff;
  text-decoration: none;
}
.news-item .hover {
  position: absolute;
  top: 66px;
  left: 166px;
  background: url("../images/play.png") top left no-repeat;
  width: 128px;
  height: 128px;
  display: none;
  z-index: 9;
  cursor: pointer;
}
.news-item .add {
  float: left;
  width: 100%;
}
.news-item .line {
  float: left;
  width: 100%;
}
.news-item .line .author {
  float: left;
  font-size: 12px;
  padding: 5px 10px;
  color: #66aa33;
  text-decoration: none;
}
.news-item .line .author:hover {
  text-decoration: underline;
}
.news-item .line .date {
  float: right;
  font-size: 12px;
  padding: 5px 10px;
  color: #333;
}
.news-item .title {
  float: left;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  padding: 0 10px 10px 10px;
}
.news-item .title:hover {
  text-decoration: underline;
}
.news-item img {
  float: left;
  width: 100%;
}
.news-item:hover .title,
.news-item:hover .author,
.news-item:hover .date {
  color: #fff;
}
.news-item:hover img {
  opacity: 0.8;
}
.news-item:hover .hover {
  display: block;
}
.news-item:hover .add {
  background: #66aa33;
}
.sidebar {
  float: left;
  width: 260px;
  height: 500px;
}
.promo {
  width: 100%;
  float: left;
  background: url("../images/bg.gif") top left repeat;
  height: 400px;
}
.promo .bg {
  height: 400px;
  box-shadow: inset 0px 0px 1px 1px #ccc;
}
.promo iframe {
  width: 720px;
  height: 400px;
  margin: 0 120px;
}
